.dashboard-container {
  padding: 40px;
}

.game-card {
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  background: white;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.game-card:hover {
  transform: translateY(-5px);
}

.game-btn {
  margin-top: 10px;
  width: 100%;
}
