.location-container {
  padding: 40px;
}

.location-card {
  padding: 20px;
  border-radius: 12px;
  background: white;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.location-btn {
  margin-top: 10px;
  width: 100%;
}
