# ===============================
# .NET
# ===============================
bin/
obj/
.vs/
*.user
*.suo

# ===============================
# Node / React
# ===============================
node_modules/
build/
dist/

# ===============================
# Environment
# ===============================
.env

# ===============================
# Logs
# ===============================
*.log
